*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  align-items: end;
  grid-template-columns: 711px 386px;
  gap: 30px;
}

.result {

}

.content__details {
  width: 100%;
  height: 100%;
  padding-block-start: 6px;
}

.search-form {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.content__list-container {
  position: relative;
  overflow: auto;
  height: 298px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px ;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  align-items: start;
  flex-direction: row;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  width: 194px;
  height: 103px;
}

.content__video-card-description-container {
  flex-grow: 1;
}